@import "tailwindcss";

@theme {
  --color-blue: #1e3759;
  --color-dark: #3f3f3f;
  --color-gray: #868686;
}

@layer base {
  body {
    @apply text-dark;
  }

  h1 {
    @apply text-3xl md:text-5xl xl:text-7xl;
  }

  h2 {
    @apply text-xl md:text-3xl xl:text-4xl;
  }

  h3,
  h4 {
    @apply text-lg md:text-xl;
  }

  p,
  button,
  span,
  li {
    @apply text-sm md:text-base lg:text-lg;
  }
}

@layer components {
  .button {
    @apply py-3 px-6 rounded-lg;
  }

  .btn-primary {
    @apply bg-blue text-white;
  }

  .btn-secondary {
    @apply bg-white text-blue;
  }

  .container-padding {
    @apply px-4 md:px-16 xl:px-40;
    @apply py-4;
  }

  main {
    @apply px-4 md:px-16 xl:px-40;
    @apply py-8;
    @apply md:h-80 xl:h-120;
  }

  section,
  footer {
    @apply px-4 md:px-16 xl:px-40;
    @apply py-8 md:py-12 xl:py-16;
  }

  footer {
    @apply px-4 md:px-16 xl:px-40;
    @apply pb-4 pt-8 md:pt-12 xl:pt-16;
  }
}
